<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Inline .ashx работает без ручного маппинга в Integrated pipeline -->
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <!-- ничего не объявляем -->
    </handlers>
  </system.webServer>
</configuration>